/*Button3-6
.button3, .button4, .button5, .button6{
    color:rgb(28, 129, 223);
    border: 2px solid rgb(28, 129, 223);
}

.button3::before, .button4::before, .button5::before, .button6::before{
    background: rgb(28, 129, 223);
    border-radius: 7px;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s ease;
}

.button3:hover , .button4:hover, .button5:hover, .button6:hover{
    color:white;
}

/*button3
.button3::before {
    width:0;
    height:102%;
}

.button3:hover::before {
    width:102%;
}

/*button4
.button4::before {
    height:0;
    width:102%;
}

.button4:hover::before {
    height:102%;
}

/*button5
.button5::before {
    height:0;
    width:102%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.button5:hover::before{
    height:360%;
}

/*button6
.button6::before {
    height:0;
    width:102%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.button6:hover::before {
    height:360%;
}*/
